* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
/* Background image */
body {
  background-image: url("./images/website-background.png");
  font-family: 'Roboto', sans-serif;
}

/* Navbar */
nav {
  background: grey;
  height: 60px;
  width: 100%;
  line-height: 55px;
}

label.logo {
  color: black;
  font-size: 35px;
  line-height: 60px;
  padding: 0 100px;
  font-weight: bold;
}

label.logo a {
  color: white;
}

label.logo span {
  font-size: 15px;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 60px;
  margin: 0 5px;
}

nav ul li a {
  color: black;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

li a.active,
a:hover {
  background: #bfbfbf;
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  color: black;
  float: right;
  line-height: 60px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
  #index-card {
    top: 0%;
    font-size: 72px;
    text-align: center;
    padding-top: 7vh;
    padding-bottom: 7vh;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  footer {
    display: none;
  }
  ul {
    z-index: 2;
    position: fixed;
    width: 110%;
    height: 100vh;
    background: #bfbfbf;
    top: 60px;
    right: -124%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    text-align: center;
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 22px;
  }
  a:hover,
  a.active {
    background: none;
    color: white;
  }
}

#check:checked ~ ul {
  right: -10%;
}

/* Index */

.container {
  padding-top: 70px;
}
.card {
  color: azure;
  z-index: 1;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
}
#index-card {
  top: 25%;
  font-size: 72px;
  text-align: center;
  padding-top: 7vh;
  padding-bottom: 7vh;
}

/* About */

#about-card {
  top: 25%;
  text-align: center;
  padding-top: 7vh;
  padding-bottom: 7vh;
  background: rgba(255, 255, 255, 0.7);
  color: black;
}


/* Projects */

.project-title {
  text-decoration: underline;
  text-align: center;
}

.card-text {
  text-decoration: none;
  text-align: center;
}

.project {
  background: rgba(255, 255, 255, 0.7);
  color: black;
}

/* Contact */
.contact-title {
  text-align: center;
  font-size: 30px;
}

.submit {
  text-align: center;
}

.input-box {
  background: rgba(255, 255, 255, 0.6);
}

#message {
  padding-bottom: 100px;
}